 :root {
     --white: #FFFFFF;
     --mytextcolor-color: #434455;
     --mynavyblue-color: #2e2f42;
     --irish: #4d5ae5;
     --cloud: #F4F4FD;
     --cornflower: #E7E9FC;
 }

 body {
     font-family: "Roboto", sans-serif;
     color: var(--mytextcolor-color);
     background-color: var(--white)
 }

 .logo-style {
     color: #4d5ae5;
     font-family: "Raleway", sans-serif;
     font-size: 18px;
     font-weight: 800;
     line-height: 1.17em;
     letter-spacing: 0.03em;
     text-transform: uppercase;  
 }

 .inside-logo {
     color: var(--mynavyblue-color);
     font-family: "Raleway", sans-serif;
     font-size: 18px;
     font-weight: 800;
     line-height: 1.5em;
     letter-spacing: 0.02em;
     display: inline-flex;
     align-items: flex-start;
     gap: 40px;
 }
 .logo-style-link {
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    margin: 24px, 1169px, 24px, 156px;
 }

 .style-list {
     text-decoration: none;
 }
 .style-list {
    list-style: none;
 }

 .style-list .link-style {
     color: var(--mynavyblue-color);
 }

 .liststyle .style-list {
     font-weight: 500;
     line-height: 1.5em;
     letter-spacing: 0.02em;
 }

 .link-style {
     text-decoration: none;
 }

 .address-style {
     color: var(--mytextcolor-color);
     background-color: var(--white);

     /* Body */
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 1.5em;
     letter-spacing: 0.02em;
 }
.contact-list {
    list-style: none;
}

 .address-style .contact-color {
     color: var(--mytextcolor-color)
 }

 .contact-list .contact-color:hover,
 .link-style:hover {
     color: #404bbf;
 }

 .contact-list .contact-color:focus,
 .link-style:focus {
     color: #404bbf;
 }

 .contact-list .contact-color:active,
 .link-style:active {
     color: #31D0AA;
 }

 /*This is Section Hero*/
 .first-section-header {
     color: var(--white);
     text-align: center;

     /* Header 1 */
     font-family: "Roboto", sans-serif;
     font-size: 56px;
     font-style: normal;
     font-weight: 700;
     line-height: 1.07em;
     /* 107.143% */
     letter-spacing: 0.02em;
 }

 .first-section {
     background-color: #2e2f42;

 }

 .first-section-button {
     color: #ffffff;

     /* Button Text */
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5em;
     /* 150% */
     letter-spacing: 0.04em;
 }

 .first-section-button {
     background-color: #4D5AE5;
 }

 .first-section .first-section-button:hover {
     background-color: #404BBF;
 }

 .first-section .first-section-button:focus {
     background-color: #404BBF;
 }

 .first-section-button {
     cursor: pointer;
 }

 /*This is Section 2*/
 .list .second-section-header {
     color: var(--mynavyblue-color);

     /* Header 3 */
     font-family: "Roboto", sans-serif;
     font-size: 20px;
     font-weight: 500;
     line-height: 1.2em;
     /* 120% */
     letter-spacing: 0.02em;
 }

 .list .second-section-paragraph {
     color: var(--mytextcolor-color);

     /* Body */
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5em;
     /* 150% */
     letter-spacing: 0.02em;
 }

 /* This is section 3*/
 .third-section-header {
     color: var(--mynavyblue-color);

     /* Header 2 */
     font-family: "Roboto", sans-serif;
     font-size: 36px;
     font-weight: 700;
     line-height: 1.11em;
     /* 111.111% */
     letter-spacing: 0.02em;
     text-align: center;
     text-transform: capitalize;
 }

 /*This is Section 4 */
 .fourth-section {
     background-color: #F4F4FD;
 }

 .fourth-section-header {
     color: var(--mynavyblue-color);

     /* Header 3*/
     font-family: "Roboto", sans-serif;
     font-size: 36px;
     font-weight: 700;
     line-height: 1.11em;
     /* 111.111% */
     letter-spacing: 0.02em;
     text-transform: capitalize;
     text-align: center;
 }

 .teammember-bgcolor {
     background-color: #FFFFFF;
 }

 .teammember-name {
     color: #2e2f42;

     /* Header 3 */
     font-family: "Roboto", sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 1.2em;
     /* 120% */
     letter-spacing: 0.02em;
 }

 .teammember-position {
     color: #434455;


     /* Body */
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5em;
     /* 150% */
     letter-spacing: 0.02em;
 }

 /* Styles for Footer*/
 .footer-style {
     background-color: var(--white);
 }

 .logo-style {
     color: #4d5ae5;
     font-family: 'Raleway', sans-serif;
     font-size: 18px;
     font-weight: 800;
     line-height: 1.17em;
     letter-spacing: 0.03em;
 }

 .footerinside-logo-footer {
     color: #F4F4FD;
 }


 .link {
     text-decoration: none;
 }

 .footer-paragraph {
     color: #F4F4FD;

     /* Body */
     font-family: "Roboto", sans-serif;
     font-size: 12px;
     font-weight: 400;
     line-height: 1.5em;
     letter-spacing: 0.02em;
 }

 .footer-style {
     background-color: var(--mynavyblue-color);
 }



 /* Portfolio Page*/
 /*Filter "All" button*/
.button {
     color: #FFFFFF;

     /*First Section Filter Buttons*/
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 1.5em;
     /* 150% */
     letter-spacing: 0.04em;
     text-align: center;
 }

.button {
     background-color: #404BBF;
 }
 
.list .button:hover {
    background-color:#404BBF;
 }
.list .button:focus {
    background-color:#404BBF;
 }
.button {
    cursor: pointer;
 }

 /*Filter buttons*/
.main-section .button {
     color: var(--irish);
     text-align: center;

     /* Button Text */
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 1.5em;
     /* 150% */
     letter-spacing: 0.04em;
 }
 .main-section .button {
    background-color: #F4F4FD;
 }

.list .button:hover {
    color: #FFFFFF;
 }
.list .button:focus {
    color: #FFFFFF;
 }



.card-features {
     color: var(--mynavyblue-color);

     /* Header 3 */
     font-family: "Roboto", sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 1.2em;
     /* 120% */
     letter-spacing: 0.02em;
 }

.card-name {
     color: var(--mytextcolor-color);

     /* Body */
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 1.5em;
     /* 150% */
     letter-spacing: 0.02em;
 }
.row-one .row1-card {
    list-style: none;
}
.list .row1-card {
    text-decoration: none;
}

/* Header LOGO*/
.header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
}
header .container {
    display: flex;
    justify-content: center;
    width: 1158px;
        padding: 0 15px;
        display: flex;
        margin: 0 auto;
}
.container {
    width: 1158px;
        padding: 0 15px;
        display: flex;
        margin: 0 auto;
}

.liststyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    margin-right: 76px;
    margin-left: 156px;
}

.logo-style-link {
    display: flex;
    height: 24px;
    align-items: center;
}

.address-style .contact-list {
    display: flex;
    align-items: center;
    padding: 24px 0;
    margin-left: 104px;
    gap: 40px;
}
.style-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
/* This is the FIRST SECTION - HERO Section*/

.body {
    margin: 0;
}
.first-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1440px;
    height: 600px;
    max-width: 496px;
    padding: 188px 0;
    display: block;
    margin: o auto;
}

.first-section .first-section-button {
    display: block;
    text-align: center;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    gap: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.first-section-button {
    background-color: var(--irish);
}
.first-section-button {
    cursor: pointer;
}
list {
    list-style-type: none;
}

/* This is the SECOND Section*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container .list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding: 120px 0;
    width: calc((100% - 72px)/4);
    margin-bottom: 8px;
}
.list .second-section-header {
    width: 264px;
    height: 24px;
}
.list .second-section-paragraph {
    width: 264px;
    height: 72px;
}
.second-section .list {
    gap: 24px;
}

/* Third Section*/

.third-section .container .list {
    display: flex;
    width: 1128px;
    height: 412px;
    flex-shrink: 0;
}
.list {
    display: block;
    flex-direction: row;
    padding: 120px 0;
    gap: 24px;
    width: calc((100% - 48px)/3);
}
.list {
    text-decoration: none;
}

.third-section .list {
    margin-bottom: 72px;
    display: block;
}
.list {
    list-style-type: none;
}

/* This is the Forth Section*/

.fourth-section .container .list {
    display: flex;
    flex-shrink: 0;
    padding: 120px 0;
    align-items: center;
    text-align: center;
    margin-bottom: 72px;
}
.list .teammember-bgcolor {
    margin-bottom: 8px;
}
.fourth-section .fourth-section-header {
    display: inline;
    display: flex;
    display: block;
    text-align: center;
    align-items: center;
}

.fourth-section .list {
    flex-direction: row;
    gap: 24px;
    width: calc((100% - 72px)/4);
    border-radius: 0px 0px 4px 4px;
}
.fourth-section .teammember-bgcolor .img {
    display: block;

}
.container .list {
    padding: 32px 0;
}
.fourth-section .list .teammember-position {
    text-align: center;
}

/* This is the FOOTER SECTION */
.footer-style {
    padding: 100px 0;
    width: 1440px;
    height: 312px;
   
}
.logo-style-link {
    margin-top: 140px;
    margin-bottom: 100px;
    margin-right: 1169px;
    margin-left: 188px;
}
.footer-style .logo-style-link {
    display: inline;
    margin-bottom: 16px;
}
.container .footer-paragraph {
    display: flex;
    align-items: flex-start;
    text-align: left;
}






