 :root {
     --white: #FFFFFF;
     --mytextcolor-color: #434455;
     --mynavyblue-color: #2e2f42;
     --irish: #4d5ae5;
     --cloud: #F4F4FD;
     --cornflower: #E7E9FC;
 }

 body {
     font-family: "Roboto", sans-serif;
     color: var(--mytextcolor-color);
     background-color: var(--white)
 }

 .inside-logo-link {
     color: #4d5ae5;
     font-family: "Raleway", sans-serif;
     font-size: 18px;
     font-weight: 800;
     line-height: 1.17em;
     letter-spacing: 0.03em;
     text-transform: uppercase;  
 }

 .studio {
     color: var(--mynavyblue-color);
     font-family: "Raleway", sans-serif;
     font-size: 18px;
     font-weight: 800;
     line-height: 1.5em;
     letter-spacing: 0.02em;
     display: inline-flex;
     align-items: center;
     top: 0;
     left: 0;
 }
 .logo-style-link {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
 }

 .style-list {
     text-decoration: none;
 }
 .style-list {
    list-style: none;
 }

 .style-list .link-style {
     color: var(--mynavyblue-color);
 }

 .nav-menu-liststyle .style-list {
     font-weight: 500;
     line-height: 1.5em;
     letter-spacing: 0.02em;
 }

 .link-style {
     text-decoration: none;
 }

 .address-style-list {
     color: var(--mytextcolor-color);
     background-color: var(--white);

     /* Body */
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 1.5em;
     letter-spacing: 0.02em;
 }
.contact-list {
    list-style: none;
}

 .address-style-list .contact-color {
     color: var(--mytextcolor-color)
 }

 .address-contact-list .contact-color:hover,
 .link-style:hover {
     color: #404bbf;
 }

 .address-contact-list .contact-color:focus,
 .link-style:focus {
     color: #404bbf;
 }

 .address-contact-list .contact-color:active,
 .link-style:active {
     color: #31D0AA;
 }

 /*This is Section Hero*/
 .first-section-header {
     color: var(--white);
     text-align: center;

     /* Header 1 */
     font-family: "Roboto", sans-serif;
     font-size: 56px;
     font-style: normal;
     font-weight: 700;
     line-height: 1.07em;
     /* 107.143% */
     letter-spacing: 0.02em;
 }

 .first-section {
     background-color: #2e2f42;

 }

 .first-section-button {
     color: #ffffff;

     /* Button Text */
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5em;
     /* 150% */
     letter-spacing: 0.04em;
 }

 .first-section-button {
     background-color: #4D5AE5;
 }

 .first-section .first-section-button:hover {
     background-color: #404BBF;
 }

 .first-section .first-section-button:focus {
     background-color: #404BBF;
 }

 .first-section-button {
     cursor: pointer;
 }

 /*This is Section 2*/
 .list .second-section-header {
     color: var(--mynavyblue-color);

     /* Header 3 */
     font-family: "Roboto", sans-serif;
     font-size: 20px;
     font-weight: 500;
     line-height: 1.2em;
     /* 120% */
     letter-spacing: 0.02em;
 }

 .list .second-section-paragraph {
     color: var(--mytextcolor-color);

     /* Body */
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5em;
     /* 150% */
     letter-spacing: 0.02em;
 }

 /* This is section 3*/
 .third-section-header {
     color: var(--mynavyblue-color);

     /* Header 2 */
     font-family: "Roboto", sans-serif;
     font-size: 36px;
     font-weight: 700;
     line-height: 1.11em;
     /* 111.111% */
     letter-spacing: 0.02em;
     text-align: center;
     text-transform: capitalize;
 }

 /*This is Section 4 */
 .fourth-section {
     background-color: #F4F4FD;
 }

 .fourth-section-header {
     color: var(--mynavyblue-color);

     /* Header 3*/
     font-family: "Roboto", sans-serif;
     font-size: 36px;
     font-weight: 700;
     line-height: 1.11em;
     /* 111.111% */
     letter-spacing: 0.02em;
     text-transform: capitalize;
     text-align: center;
 }

 .teammember-bgcolor {
     background-color: #FFFFFF;
 }

 .teammember-name {
     color: #2e2f42;

     /* Header 3 */
     font-family: "Roboto", sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 1.2em;
     /* 120% */
     letter-spacing: 0.02em;
 }

 .teammember-position {
     color: #434455;


     /* Body */
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5em;
     /* 150% */
     letter-spacing: 0.02em;
 }

 /* Styles for Footer*/
 .footer-style {
     background-color: var(--white);
 }

 .logo-style {
     color: #4d5ae5;
     font-family: 'Raleway', sans-serif;
     font-size: 18px;
     font-weight: 800;
     line-height: 1.17em;
     letter-spacing: 0.03em;
 }

 .footerinside-logo-footer {
     color: #F4F4FD;
 }


 .link {
     text-decoration: none;
 }

 .footer-paragraph {
     color: #F4F4FD;

     /* Body */
     font-family: "Roboto", sans-serif;
     font-size: 12px;
     font-weight: 400;
     line-height: 1.5em;
     letter-spacing: 0.02em;
 }

 .footer-style {
     background-color: var(--mynavyblue-color);
 }



 /* Portfolio Page*/
 /*Filter "All" button*/
.button {
     color: #FFFFFF;

     /*First Section Filter Buttons*/
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 1.5em;
     /* 150% */
     letter-spacing: 0.04em;
     text-align: center;
 }

.button {
     background-color: #404BBF;
 }
 
.list .button:hover {
    background-color:#404BBF;
 }
.list .button:focus {
    background-color:#404BBF;
 }
.button {
    cursor: pointer;
 }

 /*Filter buttons*/
.main-section .button {
     color: var(--irish);
     text-align: center;

     /* Button Text */
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 1.5em;
     /* 150% */
     letter-spacing: 0.04em;
 }
 .main-section .button {
    background-color: #F4F4FD;
 }

.list .button:hover {
    color: #FFFFFF;
 }
.list .button:focus {
    color: #FFFFFF;
 }



.card-features {
     color: var(--mynavyblue-color);

     /* Header 3 */
     font-family: "Roboto", sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 1.2em;
     /* 120% */
     letter-spacing: 0.02em;
 }

.card-name {
     color: var(--mytextcolor-color);

     /* Body */
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 1.5em;
     /* 150% */
     letter-spacing: 0.02em;
 }
.row-one .row1-card {
    list-style: none;
}
.list .row1-card {
    text-decoration: none;
}

/*This is the HOMEWORK 3 */
/* Header LOGO*/

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    display: block;
    color:#434455;
    background-color: var(--white);
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-menu-liststyle {
    display: flex;
    align-items: center;
}

.main-header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header { 
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;
}
.studio {
    margin-right: 76px;
}

.style-list {
    display: flex;
    gap: 40px;
}

.address-contact-list {
    display: flex;
    gap: 40px;
}
    




/* This is the FIRST SECTION - HERO Section*/

.first-section {
    height: 600px;
}

.first-section-container {
    width: 496px;
    height: 120px;
    padding: 188px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    display: block;
    margin-bottom: 48px;
}

.first-section .first-section-button {
    display: block;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin-top: 48px;
    gap: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.first-section-button {
    background-color: var(--irish);
}
.first-section-button {
    cursor: pointer;
}
list {
    list-style-type: none;
}


/* This is the SECOND Section*/


.list-features {
    display: flex;
    flex-direction: row;
    width: ((100% -72px)/4);
    gap: 24px;
    padding: 120px 0;
    margin-top: 8px;
}

.second-section-header {
    margin-bottom: 8px;
}

.second-section {
    background-color: #FFFFFF;
}

/* Third Section*/

.third-section .third-section-container {
    display: flex;
    height: 412px;
    flex-direction: row;
    padding-bottom: 120px;
    margin: 0 auto;
}

.third-section-header {
    margin-bottom: 72px;
    text-align: center;
}

.third-section .list-services {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    width: calc((100% - 48px)/3);
    top: 112px;
    gap: 24px;
}

/* This is the Forth Section*/

.fourth-section-container {
    padding: 120px;
    text-align: center;
}
.list-teams {
    display: flex;
    gap: 24px;
    width: calc((100% 72px)/4);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    justify-content: center;
    height: 732px;
    flex-direction: row;
    padding: 120px;
}

.list-teams .teammember-name {
    margin-bottom: 8px;
}

.fourth-section-header {
    margin-bottom: 72px;
}

.card-content {
    display: flex;
    text-align: center;
    width: 232px;
    flex-direction: column;
    gap: 8px;
    padding: 32px 0;
}


/* This is the FOOTER SECTION */

.footer-style {
    height: 312px;
    padding: 100px 0;
    align-items: center;
    display: flex;
}

.footer-style .footer-style-container {
    height: 112px;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 16px;;
}

.footer-paragraph {
    max-width: 264px;
    height: 72px;
    margin-top: 16px;
}

.logo-style-link {
    display: flex;
}











